
/* section thanks for index2.html */
.section__thanks{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.section__thanks-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 800px;
    background-image: url(../img/img.jpg);
    background-position-x: center;
}
.section__thanks-div h1{
    padding:20px;
    font-size: 80px;
    text-align: center;
}
.section__thanks-div h2{
    padding: 20px;
    font-size: 60px;
}
.section__thanks-button{
    padding:20px;
    width: 160px;
}
.section__thanks-button a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
/* end of section for index2.html */