body{
    margin: 0;
    padding: 0;

}
.section-team__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #EA2027;
    border: 1px solid black;
    font-family: arial;
    color:white;
}

.section-team__child {
    text-align: center;
    margin: 0px 0px 20px 0px;
    padding: 20px;
    position:relative;
    box-sizing: border-box;
    flex-basis: 25%;
}

.section-team__header {
    font-size: 1.5em;
    text-shadow:5px 5px 10px black;

}

.section-team__text {
    box-sizing: border-box;
    font-size: 1.25em;
    font-weight: 900;
    text-align: center;
    max-height: 280px;
    padding: 20px;
    text-shadow:5px 5px 10px black;



}

.section-team__title {
    width: 100% ;
    text-align: center;
    font-size: 2em;

}

.section-team__img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 3px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategray;
    overflow: hidden;
}
.section-team__link {
    position:absolute;
    bottom: 0 ;
    text-align:center;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    text-decoration: none;
    border: 3px solid #F79F1F;;
    color: white;
    background: #EE5A24;
    transition: all 1s;


}
.section-team__link:hover{
    color:  #EE5A24;
    background: white;

}


@media only screen and (max-width: 1400px) {
    .section-team__child{
        flex-basis: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .section-team__child{
        flex-basis: 100%;
    }
}