html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ee5a24;
  width: 100%;
}

.nav__logo {
  margin: 0 auto;
  padding: 10px;
}

.nav__img {
  max-width: 100px;
  display: block;
  height: auto;
  margin: 0 auto;
}

.nav__links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 20px;
}

.nav__item {
  padding: 20px;
  flex-grow: 1;
}

.nav__item:hover {
  background-color: #ea2027;
  cursor: pointer;
}

.nav__link {
  display: block;
  text-decoration: none;
  color: white;
  padding: 20px;
  text-transform: uppercase;
}

@media only screen and (min-width: 1025px) {
  .nav {
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
  }

  .nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__logo {
    margin-left: 0;
  }
}
