

#more {
     font-family: 'Roboto', sans-serif;
     color: white;
     box-sizing: border-box;
 }

 /*
    background-color: #FFC312;
    background-color: #F79F1F;
    background-color: #EE5A24;
    background-color: #EA2027;
} */

 .section-more__container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }

 .section-more__child {
     display: flex;
     flex-direction: column;
     flex-basis: 48%;
     align-items: center;
     box-shadow: 0px 0px 21px -1px rgba(87, 87, 86, 1);
     border-radius: 3px;
     background: #F79F1F;
 }

 .section-more__img1,
 .section-more__img2,
 .section-more__img3,
 .section-more__img4,
 .section-more__img5,
 .section-more__img6 {
     background-image: url('img/img7.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     display: flex;
     flex-direction: column;
     flex-basis: 48%;
     align-items: center;
     border-radius: 2px;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }

 .section-more__img2 {
     background-image: url('img/img8.jpg');
 }

 .section-more__img3 {
     background-image: url('img/img9.jpg');
 }

 .section-more__img4 {
     background-image: url('img/img10.jpg');
 }

 .section-more__img5 {
     background-image: url('img/img11.jpg');
 }

 .section-more__img6 {
     background-image: url('img/img12.jpg');
 }

 .section-more__header {
     margin: 5% auto;
     font-size: 2em;
     text-transform: uppercase;
 }

 .section-more__text {
     box-sizing: border-box;
     margin: 5% auto;
     padding: 3% 20% 10%;
     font-size: 1rem;
     text-align: justify;
 }

 .section-more__imgback {
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     border: 1px solid black;
     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
     width: 15vh;
     height: 15vh;
     background-color: red;
     transition: 0.7s;
 }

 .section-more__imgback:hover {
     background-color: white;
 }



 @media screen and (max-width: 360px) {
     .section-more__container {
         flex-direction: column;
     }

     .section-more__child {
         flex-basis: 100vh;<<<<<<< feature/19-moreinfo
     }

     .section-more__text {
         box-sizing: border-box;
         font-size: 1rem;
         flex-grow: 1;
     }

     .section-more__imgback {
        width: 20vh;
        height: 20vh;
     }

     .section-more__img1,
     .section-more__img2,
     .section-more__img3,
     .section-more__img4,
     .section-more__img5,
     .section-more__img6 {
         flex-basis: 100vh;
     }

     .section-more__child1 {
         order: 1;
     }

     .section-more__child2 {
         order: 3;
     }

     .section-more__child3 {
         order: 5;
     }

     .section-more__child4 {
         order: 7;
     }

     .section-more__child5 {
         order: 9;
     }

     .section-more__child6 {
         order: 11;
     }

     .section-more__img1 {
         order: 2;
     }

     .section-more__img2 {
         order: 4;
     }

     .section-more__img3 {
         order: 6;
     }

     .section-more__img4 {
         order: 8;
     }

     .section-more__img5 {
         order: 10;
     }

     .section-more__img6 {
         order: 12;
     }
 }

 @media screen and (max-width: 768px) {
     .section-more__child {
         flex-grow: 1;
     }

     .section-more__text {
         margin: 5% auto;
     }

     .section-more__container {
         flex-direction: column;
     }

     .section-more__child {
         flex-basis: 100vh;
     }

     .section-more__text {
         box-sizing: border-box;
         margin: 2% auto;
         font-size: 1.25em;
     }

     .section-more__img1,
     .section-more__img2,
     .section-more__img3,
     .section-more__img4,
     .section-more__img5,
     .section-more__img6 {
         flex-basis: 100vh;
         flex-shrink: 0;
     }

     .section-more__imgback {
        width: 20vh;
        height: 20vh;
        flex-shrink: 0;
     }

     .section-more__child1 {
         order: 1;
     }

     .section-more__child2 {
         order: 3;
     }

     .section-more__child3 {
         order: 5;
     }

     .section-more__child4 {
         order: 7;
     }

     .section-more__child5 {
         order: 9;
     }

     .section-more__child6 {
         order: 11;
     }

     .section-more__img1 {
         order: 2;
     }

     .section-more__img2 {
         order: 4;
     }

     .section-more__img3 {
         order: 6;
     }

     .section-more__img4 {
         order: 8;
     }

     .section-more__img5 {
         order: 10;
     }

     .section-more__img6 {
         order: 12;
     }
 }

 @media screen and (max-width: 1024px) {
     .section-more__header {
         margin: 13% auto;
         font-size: 3em;
     }

     .section-more__imgback {
        width: 20vh;
        height: 20vh;
     }

     .section-more__text {
         margin-top: 10%;
         font-size: 1.75em;
     }
 }
.section-features {
    background-color: #F79F1F;
    font-family: sans-serif;
}

.section-features__title {
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding: 20px;
    font-size: 35px;
    margin: 0;
    text-shadow: 5px 5px 15px #000;
}

.section-features__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-features__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}


.section-features__box-icon__img {
    max-width: 100%;
}

.section-features__box__description {
    padding: 15px;
    text-align: center;
    color: #eee;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .section-features__container {
        flex-direction: row;
    }

    .section-features__title {
        font-size: 50px;
    }

    .section-features__box {
        padding: 5px;
    }
}

body{
    margin: 0;
    padding: 0;

}
.section-team__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #EA2027;
    border: 1px solid black;
    font-family: arial;
    color:white;
}

.section-team__child {
    text-align: center;
    margin: 0px 0px 20px 0px;
    padding: 20px;
    position:relative;
    box-sizing: border-box;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section-team__header {
    font-size: 1.5em;
    text-shadow:5px 5px 10px black;

}

.section-team__text {
    box-sizing: border-box;
    font-size: 1.25em;
    font-weight: 900;
    text-align: center;
    max-height: 280px;
    padding: 20px;
    min-height: 150px;



}

.section-team__title {
    width: 100% ;
    text-align: center;
    font-size: 2em;
    margin-top: 20px;

}

.section-team__img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 3px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategray;
    overflow: hidden;
}
.section-team__link {

    text-align:center;
    font-size: 20px;
    text-decoration: none;
    border: 3px dashed #F79F1F;;
    color: white;
    background: #EE5A24;
    transition: all 1s;
    display: block;
    padding: 4px 20px;
    margin-top: 4px;
    border-radius: 30%;


}

.section-team__link:hover{
    color:  #EE5A24;
    background: white;

}


@media only screen and (max-width: 1400px) {
    .section-team__child{
        flex-basis: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .section-team__child{
        flex-basis: 100%;
    }
}


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'Garineldo';
    src: url('font/Garineldo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ee5a24;
    width: 100%;
}

.nav__logo {
    margin: 0 auto;
    padding: 20px;

}

.nav__img {
    max-width: 100px;
    display: block;
    height: auto;
    margin: 0 auto;
}

.nav__links {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 20px;
}

.nav__item {
    padding: 0 20px;
    flex-grow: 1;
    height: 100%;
}

.nav__item:hover {
    background-color: #ea2027;
    cursor: pointer;
}

.nav__link {
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px;
    text-transform: uppercase;
}

@media only screen and (min-width: 1025px) {
    .nav {
        flex-direction: row;
        justify-content: flex-start;
        position: fixed;
    }

    .nav__links {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__logo {
        margin-left: 0;
    }

    .nav__item {
        display: flex;
        align-items: center;
    }
}


.section__hero{
    background-image: url('img/img.jpg');
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.section__hero__h1{
    text-transform: uppercase;
    margin-top:30vh;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: black;
    font-size: 50px;
}
.section__hero__p{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section__hero__p p{
    text-align: center;
    margin-top: 5%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 30px;
}
.section__hero__button__sign{
    margin-top: 5%;
    font-family: 'Garineldo';
    background-color: white;
    font-size: 220%;
    padding:35px;
    border-radius: 50%;
}

.section__sign {
    background-color: #F79F1F;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.section__sign__h1{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: black;
    font-size:30px;
    padding: 20px 10px 10px;

}
.section__sign__p{
    margin-top: 10px;
    display:flex;
    text-align: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 20px;
}
.section__sign__mail{
    margin-top: 10px;
    font-size: 15px;
    width: 300px;
    height: 40px;
    border-style: solid;
    border-color: #000;
    border-width: 2px;
    padding: 20px;
}

.section__sign__checkbox{
    font-size: 25px;
    padding: 10px;
}
.section__sign__checkbox__box{
    width: 25px;
    height: 25px;
}

.section__sign__button{
    font-family: 'Garineldo';
    background-color: white;
    font-size: 220%;>>>>>>> develop
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
}

